{% block figure_block %}
<h3>{{ figure.name }}</h3>
<div id="figure-wrap">
    <div id="figure"></div>
    <div id="figure-meta">
        <h4>Figure specification</h4>
        <table class="fig-spec">
            <tr>
                <td>Name</td>
                <td>{{ figure['name'] }}</td>
            </tr>
            <tr>
                <td>x-data</td>
                <td>{{ figure['x'] }}</td>
            </tr>
            <tr>
                <td>y-data</td>
                <td>{{ figure['y'] }}</td>
            </tr>
        </table>
        <div class="fig-data">
            {{ figure_data | safe }}
        </div>
    </div>
</div>
<script type="text/javascript">
    var figObj = {{ fig_JSON | safe}};
    var config = { responsive: true };
    Plotly.newPlot('figure', figObj.data, figObj.layout, config);
</script>
{% endblock %}
