{% extends "layout.html" %}
{% block title %}{{ workflow.name }}{% endblock %}
{% block content %}
<div id="loaded-workflow-meta">Workflow: <code>{{ workflow.loaded_path }}</code></div>
<div id="wk-nav">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% block nav_profile %}{% endblock %}"
                href="{{ url_for('workflow_profile', id=id) }}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block nav_info %}{% endblock %}" href="{{ url_for('workflow_info', id=id) }}">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block nav_tasks %}{% endblock %}"
                href="{{ url_for('workflow_tasks', id=id, task_idx=0, element_idx=0) }}">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block nav_figures %}{% endblock %}"
                href="{{ url_for('workflow_figures', id=id) }}">Figures</a>
        </li>
    </ul>
</div>

{% endblock %}
